<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="lidar3d" params="name parent_link gazebo *origin">
  <xacro:include filename="$(find irobot_create_description)/urdf/common_properties.urdf.xacro"/>

  <xacro:property name="mass" value="0.2"/>
  <xacro:property name="length_x" value="0.08"/>
  <xacro:property name="length_y" value="0.08"/>
  <xacro:property name="length_z" value="0.1"/>

  <joint name="${name}_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <xacro:insert_block name="origin"/>
  </joint>

  <link name="${name}_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.1"/>
      </geometry>
      <material name="Green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.1"/>
      </geometry>
    </collision>
    <xacro:inertial_cuboid mass="${mass}" x="${length_x}" y="${length_y}" z="${length_z}"/>
  </link>

  <gazebo reference="${name}_link">
    <xacro:ray_sensor 
        sensor_name="${name}" 
        gazebo="${gazebo}"
        update_rate="10" 
        visualize="1"
        h_samples="720" h_res="1" h_min_angle="-3.14" h_max_angle="3.14"
        v_samples="32" v_res="1" v_min_angle="-0.5" v_max_angle="0.5"
        r_min="0.1" r_max="30.0" r_res="0.01">
      <plugin name="dummy_plugin" filename="libdummy.so"/>
    </xacro:ray_sensor>
  </gazebo>

  <gazebo reference="${name}_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

</xacro:macro>

</robot>
